@model Product
@{
  ViewData["Title"] = Model.Name;
}

<div class="jumbotron">
  <h1 class="display-4">@Model.Name</h1>
  <p class="lead">Product name:  @Model.Name <BR/> Price: @Model.Price</p>
  <hr class="my-4">
  <p>View Other products: </p>
  <a class="btn btn-primary btn-lg" asp-controller="Product" asp-action="Index" role="button">Go to List</a>
</div>